<source>
  @type syslog
  port 5140
  tag system
</source>

<source>
  @type forward
  port 24225
  bind 127.0.0.1
</source>

<filter **>
  @type record_transformer
  <record>
    hostname "#{Socket.gethostname}"
  </record>
</filter>

# count the number of incoming records per tag
<filter **>
  @type prometheus
  <metric>
    name fluentd_input_status_num_records_total
    type counter
    desc The total number of incoming records
    <labels>
      tag ${tag}
      hostname ${hostname}
    </labels>
  </metric>
</filter>

<match **>
  @type forward
  send_timeout 60s
  recover_wait 10s
  hard_timeout 60s

  # Start up even if monitor host is not present
  ignore_network_errors_at_startup true

  <server>
    host {{ monitor_host }}
  </server>

  <secondary>
    @type file
    path /var/log/td-agent/forward-failed
  </secondary>

  <buffer>
    flush_mode interval
    flush_interval 20s
    flush_thread_count 8
    chunk_limit_size 8M
  </buffer>
</match>
