{{$vars := index .Vars .Env.host}}

file:
  /etc/tuned/cassandra/tuned.conf:
    exists: true
    contains:
      - "devices={{$vars.tuned.devices}}"
      - "readahead={{$vars.tuned.readahead}}"
  /etc/cassandra/conf/jvm.options:
    exists: true
    contains:
      - "-Xms{{$vars.jvm.xms}}"
      - "-Xmx{{$vars.jvm.xmx}}"
      - "-Xmn{{$vars.jvm.xmn}}"
{% for d in disk_io_devices %}
  /sys/block/{{ d }}/queue/nr_requests:
    exists: true
    contains:
      - "{{$vars.nr_requests}}"
  /sys/block/sdc/queue/scheduler:
    exists: true
    contains:
      - "[{{$vars.scheduler}}]"
{% endfor %}
