#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
!example.tfvars

# Plan files
*.out
*.tfplan

*.pem

.DS_Store
*.tar.gz

# SSH cfg
*.cfg
