#!/usr/bin/env bash

{%  for d in disk_io_devices %}
echo {{ disk_io_nr_requests }} > /sys/block/{{ d }}/queue/nr_requests
echo {{ disk_io_scheduler }} > /sys/block/{{ d }}/queue/scheduler
{% endfor %}
