---
- name: Install td-agent
  hosts: all
  roles:
    - role: td-agent
      when: enable_tdagent is undefined or enable_tdagent == '1'
  vars:
    tdagent_conf_template: templates/docker-server/td-agent.conf.j2
  gather_facts: no
  become: yes

- name: Common Install
  hosts: all
  roles:
    - "common"
  gather_facts: no
  become: yes

- name: Docker Server
  hosts: all
  roles:
    - "docker"
  gather_facts: yes
  become: no

- name: Set up multiple authorized keys
  hosts: all
  gather_facts: false
  tasks:
    - name: test if ssh_public folder exist
      stat:
        path: files/ssh_public
      register: folder_details

    - name: add key
      authorized_key:
        user: centos
        state: present
        key: "{% for key in lookup('fileglob', 'files/ssh_public/*.pub').split(',') %}{{ lookup('file', key) ~ '\n'}}{% endfor %}"
      when: folder_details.stat.exists
  tags:
  - ssh