---
- name: Install td-agent
  hosts: all
  roles:
    - role: td-agent
      when: enable_tdagent is undefined or enable_tdagent == '1'
    - role: td-agent_aggregation
      when: enable_tdagent is undefined or enable_tdagent == '1'
  vars:
    tdagent_conf_copy: files/monitor-server/td-agent.conf
  gather_facts: no
  become: yes

- name: Common Install
  hosts: all
  roles:
    - "common"
  gather_facts: no
  become: yes

- name: Docker Server
  hosts: all
  roles:
    - "docker"
  gather_facts: yes
  become: no

- name: Set up multiple authorized keys
  hosts: all
  gather_facts: false
  tasks:
    - name: add key
      authorized_key:
        user: centos
        state: present
        key: "{% for key in lookup('fileglob', 'files/ssh_public/*.pub').split(',') %}{{ lookup('file', key) ~ '\n'}}{% endfor %}"
  tags:
  - ssh