[Unit]
Description=Disk io parameters
After=drivemount.service
Wants=drivemount.service

[Service]
Type=simple
ExecStart=/usr/local/bin/disk_io_params.sh

[Install]
WantedBy=multi-user.target
