[Unit]
Description=Disk io parameters
After=cloud-final.service
Wants=cloud-final.service

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/local/bin/disk_io_params.sh'

[Install]
WantedBy=multi-user.target
