#scalar.cassy.server.port=
#scalar.cassy.server.jmx_port=
scalar.cassy.server.ssh_user=cassandra
scalar.cassy.server.ssh_private_key_path=/opt/cassy/cassy.pem
scalar.cassy.server.slave_command_path=/opt/cassy/bin
scalar.cassy.server.storage_base_uri={{ storage_base_uri }}
scalar.cassy.server.storage_type={{ storage_type }}
scalar.cassy.server.metadata_db_url=jdbc:sqlite:/cassy/data/cassy.db
scalar.cassy.server.srv_service_url=_scalardl._tcp.scalardl-service.{{ internal_domain }}
